.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

header,
footer,
main {
  position: absolute;
  left: 0;
  width: 100%;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

header,
footer {
  text-align: center;
  background-color: blue;
  color: white;
  height: 48px;
  line-height: 48px;
}

footer input {
  width: 50%;
}

main {
  top: 48px;
  bottom: 48px;
  background-color: yellow;
  color: red;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.safari.keyboard .app-container {
  bottom: 270px;
}

/*To prevent auto-zoom in Safari*/
.safari input[type="text"] {
  font-size: 16px;
}
